<ion-view view-title="Simulador" class="simular">
    <ion-content class="padding">
        <div class="list card">
            <div class="list">
                <div class="item item-input-inset">
                    <label class="item-input-wrapper">
                        <input type="number" placeholder="Valor del inmueble" ng-model="data.valor">
                    </label>
                </div>
                <label class="item">
                    <select class="ion-input-select--large" ng-model="data.selMens">
                        <option ng-repeat="mensualidad in mensualidades" value="{{mensualidad.id}}">
                            {{mensualidad.nombre}}
                        </option>
                    </select>
                </label>
                <label class="item">
                    <select class="ion-input-select--large" ng-model="data.selPlazo">
                        <option ng-repeat="plazo in plazos" value="{{plazo.id}}">
                            {{plazo.nombrePlazo}}
                        </option>
                    </select>
                </label>
                <label class="item">
                    <select class="ion-input-select--large" ng-model="data.selEstado">
                        <option ng-repeat="estado in estados" value="{{estado.id}}">
                            {{estado.nombre}}
                        </option>
                    </select>
                </label>
            </div>
        </div>
        <div class="list">
            <md-button class="button button-block button-outline button-calm"  ng-click="calcular()">
                Calcular
            </md-button>
        </div>
        <div class="card">
            <ul class="list checkAviso">
                <li class="item item-checkbox">
                    <label class="checkbox">
                        <input type="checkbox">
                    </label>
                   Acepto el Aviso de Privacidad.
                </li>
            </ul>
            <div class="item item-text-wrap aviso">
                Respecto al manejo de sus datos favor de revisar el Aviso de Privacidad.
            </div>
        </div>
    </ion-content>
</ion-view>
