<ion-view view-title="Simulador" class="simular" cache-view="false">
    <ion-content class="padding">
        <ion-list>
            <ion-item class="valor">
                <div class="group">
                    <input type="text" ng-model="data.valor" required>
                    <span class="highlight"></span>
                    <label>Valor del inmueble</label>
                </div>
            </ion-item>
            <ion-item>
                <div class="mdl-selectfield">
                    <select class="browser-default" ng-model="data.selMens">
                        <option ng-repeat="mensualidad in mensualidades" value="{{mensualidad.id}}">
                            {{mensualidad.nombre}}
                        </option>
                    </select>
                </div>
            </ion-item>
            <ion-item>
                <div class="mdl-selectfield">
                    <select class="browser-default" ng-model="data.selPlazo">
                        <option ng-repeat="plazo in plazos" value="{{plazo.id}}">
                            {{plazo.nombrePlazo}}
                        </option>
                    </select>
                </div>
            </ion-item>
            <ion-item>
                <div class="mdl-selectfield">
                    <select class="browser-default" ng-model="data.selEstado">
                        <option ng-repeat="estado in estados" value="{{estado.id}}">
                            {{estado.nombre}}
                        </option>
                    </select>
                </div>
            </ion-item>
            <ion-item>
                <md-button class="button button-block button-outline button-calm" ng-click="calcular()">
                    Calcular
                </md-button>
            </ion-item>
            <div class="card">
                <ul class="list checkAviso">
                    <li class="item item-checkbox">
                        <label class="checkbox">
                            <input type="checkbox" class="acepto" ng-model="data.acepto">
                        </label>
                        Acepto el Aviso de Privacidad.
                    </li>
                </ul>
                <div class="item item-text-wrap aviso">
                    Respecto al manejo de sus datos favor de revisar el Aviso de Privacidad.
                </div>
            </div>
        </ion-list>
    </ion-content>
</ion-view>
