<ion-view view-title="Perfil" cache-view="false">
    <ion-content class="padding">
        <div class="list card prospecto">
            <ion-list>
                <ion-item class="top">
                    <div class="group">
                        <input type="text" ng-model="" required>
                        <span class="highlight"></span>
                        <label>Nombre del asesor</label>
                    </div>
                </ion-item>
                <ion-item>
                    <div class="group">
                        <input type="text" ng-model="" required>
                        <span class="highlight"></span>
                        <label>Oficina SOC</label>
                    </div>
                </ion-item>
            </ion-list>
        </div>
    </ion-content>
</ion-view>
