<ion-view view-title="Home">
    <ion-content class="padding">
        <div class="">
            <img src="./img/logo.png" class="logo">
            <img src="./img/vegas.jpg" class="vegas">
            <p class="direccion">Hamburgo 227, Colonia Juárez, Delegación Cuauhtémoc, México D.F. 06600<br><br><a href="" class="page">socasesores.com</a></p>
            <ul>
                <li><a href="./img/face.png"></a></li>
                <li><a href="./img/tw.png"></a></li>
                <li><a href="./img/ytube.png"></a></li>
            </ul>
        </div>
    </ion-content>
</ion-view>
