<ion-view view-title="Home" cache-view="false">
    <ion-content class="padding">
        <div class="">
            <h1>SOC Asesores Hipotecarios</h1>
            <p class="title">Somos una red de especialistas</p>
            <p>Ofrecemos asesoría profesional para facilitar la obtención de la mejor opción de crédito que cada cliente necesita..</p>      
            <p class="title">Misión</p>
            <p>Desarrollar asesores especialistas de crédito.</p>
            <p class="title">Visión</p>
            <p>Ser un referente de calidad en asesoría de crédito.</p>
            <p class="direccion">Hamburgo 227, Colonia Juárez, Delegación Cuauhtémoc, México D.F. 06600 </p>
        </div>
    </ion-content>
</ion-view>
