<ion-view view-title="Home" cache-view="false">
    <ion-content class="padding">
        <div class="list card prospecto">
            <ion-list>
                <ion-item>
                    <img class="profile" ng-src="http://graph.facebook.com/v2.5/{{user.id}}/picture?type=normal" />
                </ion-item>
                <ion-item>
                    <div class="group">
                        <input type="email" ng-model="user.email" required>
                        <span class="highlight"></span>
                        <label>Correo prospecto</label>
                    </div>
                </ion-item>
                <ion-item>
                    <div class="group">
                        <input type="text" ng-model="user.first_name" required>
                        <span class="highlight"></span>
                        <label>Nombre</label>
                    </div>
                </ion-item>
                <ion-item>
                    <div class="group">
                        <input type="text" ng-model="user.last_name" required>
                        <span class="highlight"></span>
                        <label>Apellido</label>
                    </div>
                </ion-item>
            </ion-list>
        </div>
    </ion-content>
</ion-view>
