<ion-view>
		<ion-tabs class="tabs-icon-top tabs-stable">

			<ion-tab title="Home" icon-off="ion-ios-home-outline"
                      icon-on="ion-ios-home" ui-sref="app.tabs.datos">
				<ion-nav-view name="tab-datos"></ion-nav-view>
			</ion-tab>

			<ion-tab title="Simulador" icon-off="ion-ios-calculator-outline"
                      icon-on="ion-calculator" ui-sref="app.tabs.simular">
				<ion-nav-view name="tab-simular"></ion-nav-view>
			</ion-tab>
			<ion-tab title="Historial" icon-off="ion-ios-calendar-outline"
                      icon-on="ion-ios-calendar" ui-sref="app.tabs.historial">
				<ion-nav-view name="tab-historial"></ion-nav-view>
			</ion-tab>
			<ion-tab title="Aviso" icon-off="ion-ios-information-outline"
                      icon-on="ion-ios-information" ui-sref="app.tabs.aviso">
				<ion-nav-view name="tab-aviso"></ion-nav-view>
			</ion-tab>
		</ion-tabs>
</ion-view>