<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link href="http://code.ionicframework.com/1.0.0-rc.5/css/ionic.css" rel="stylesheet">
    <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/0.6.1/angular-material.min.css" />
    <link href="css/style.css" rel="stylesheet">
    <link href="css/index.css" rel="stylesheet" />
    <link href="css/museo/museo.css" rel="stylesheet">

    <script src="http://code.ionicframework.com/1.0.0-rc.5/js/ionic.bundle.min.js"></script>
    <script src="js/ng-cordova.min.js"></script>
    <script src="cordova.js"></script>
    <script src="js/components/moment/moment.js"></script>
    <script src="js/components/angular-moment/angular-moment.js"></script>
    <script src="http://cdn.jsdelivr.net/hammerjs/2.0.4/hammer.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.6/angular-aria.min.js"></script>

    <!-- Angular Material Javascript now available via Google CDN; version 0.6 used here -->
    <script src="http://ajax.googleapis.com/ajax/libs/angular_material/0.6.1/angular-material.min.js"></script>
    <script src="js/openfb.js"></script>
    <script src="js/ngopenfb.js"></script>

    <script src="js/app.js"></script>
    <script src="js/services.js"></script>
    <script src="js/controllers.js"></script>
    <script src="js/creciente15Controller.js"></script>
    <script src="js/creciente20Controller.js"></script>
    <script src="js/fijo15Controller.js"></script>
    <script src="js/fijo20Controller.js"></script>
    <script src="js/simulaController.js"></script>
    <script src="js/historialController.js"></script>
</head>
<body ng-app="app">
    <ion-view>
        <ion-content class="loginTab">
        <img src="./img/logo.png" class="logoImg">
            <div class="list login">
                <button class="button button-positive save facebook" ng-click="FBlogin()">
                Ingresar con Facebook <i class="ion-social-facebook"></i>
                </button>
                <p class="registro">Registra tus datos</p>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Nombre</span>
                    <input type="text" placeholder="-" ng-model="data.nombre">
                 </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Apellido</span>
                    <input type="text" placeholder="-" ng-model="data.apellido">
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Email</span>
                    <input type="text" placeholder="-" ng-model="data.correo">
                </label>
            </div>
            <button class="button button-positive save" ng-click="entrar()">
                REGISTRO
            </button>
            <!--md-button class="button button-block button-positive face" ng-click="fbLogin()">
                <i class="ion-social-facebook"></i>
                Inicia sesión con Facebook
            </md-button-->
        </ion-content>
    </ion-view>
</body>
</html>


